<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/six-hand.css" th:href="@{css/six-hand.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/six-hand-script.js" th:src="@{js/six-hand-script.js}"></script>
    <title>QMonitoring</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row center-xs">

                <div class="col-md-8">
                    <div class="header-text-container">
                        <p class="header-text">
                            QMonitoring
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="block-list">

            <div class="container">
                <button class="opening-tags-block">
                    <p class="opening-tags-block__text">
                        OPEN PARAMETERS
                    </p>
                </button>
            </div>
                <div class="container">            <div class="card">

                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
            <div class="card">
                <div class="container">
                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
            <div class="card">
                <div class="container">
                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
            <div class="card">
                <div class="container">
                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
            <div class="card">
                <div class="container">
                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
            <div class="card">
                <div class="container">
                    <h4><b>Кофе Хауз</b></h4>
                    <hr class="custom">
                    <p>г. Москва, пр. Кутузовский, 45</p>
                    <p>Загруженность: 23</p>
                </div>
                <button>Иду</button>
            </div>
        </div>
    </main>
</body>

</html>