<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/six-hand.css" th:href="@{css/six-hand.css}">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/six-hand-script.js" th:src="@{js/six-hand-script.js}"></script>
    <title>QMonitoring</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 center-xs col-md-1">
                    <div class="header-sidebar__container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" alt="sidebar" class="header-sidebar__img">
                    </div>
                </div>
                <div class="col-md-offset-7 col-md-3 col-xs-6 col-xs-offset-1 center-xs">
                    <div class="header-text-container">
                        <p class="header-text">
                            QMonitoring
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </header>

</body>

</html>